*.o
PCFS
aclocal.m4
autom4te.cache/
compile
config.status

PCFS
fsck.PCFS
PCFS_offline

config.h.in
configure
missing

AUTHORS
NEWS
COPYING
ChangeLog
INSTALL
Makefile.in
README

*~

install-sh

depcomp
.deps/
stamp-h1
